.nomer {

color: black;
text-align: center;
font-family: cursive;
Border-radius: 6px;

    padding: 5;
}

.nomer2 {
Border-radius: 12px;
border: 2px solid red;

}

.nomer3 {
 Border-radius: 8px;
  Border: 3px solid green;
}
